@import 'https://fonts.googleapis.com/css?family=Megrim|Quicksand|Josefin+Sans|Amatic+SC';

body {
    margin: 0 auto;
    font-family: "Helvetica", "Arial", "Sans-serif";
    line-height: 1.5;
    padding: 0 auto;
    color: #555;
    background-color: #FEFDFB;
}
.wrapper{
    width: 95%;
    margin: 1em auto;
}
h1{
    text-align: center;
    font-family: "Amatic SC";
    font-size: 4rem;
    margin: 0;
}
ul{
    width: 100%;
    padding: 0;
    margin: 0;
}
li{
    width: 100%;
    list-style: none;
    float: left;
    margin-top: 1em;
    text-align: center;
    display: block;
}
img{
    max-width: 90%;
    filter: grayscale(70%);
    transition: 0.5s, transform 0.2s ease-in;
}
img:hover{
    filter: none;
    box-shadow: 1px 1px 30px #999;
    transform: scale(1.1);
}

footer{
    font-family: quicksand;
    text-align: center;
    clear: both;
    padding-top: 1rem;
}
@media screen and (min-width: 600px) {
    li{
        width: 50%;
        display: inline-block;
    }
}
@media screen and (min-width: 1200px) {
    li{
        width: 25%;
        display:inline-block;
    }
}